li,ol{
    list-style-type: none;
}
div.wrapper{
    width: 50%;
    margin: 100px auto;
}
img.fr{
    width: 100px;
}
img.en{
    width: 100px;
}
.rows{
    display: block;
    margin-top: 15px;
    font-size: 30px;
    color: #555;
    background: 0;
    border: 0;
    cursor: pointer;
}
.rows:hover{
    text-decoration: none;
    color: #333;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
.fr,
.en {
    margin-right: 20px;
}
/*  START SIGN IN  */

.form-signin {
    max-width: 40%;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #333;
    border: 0;
}
.btn-primary:hover {

    color: #fff;
    background-color: #383838;
}
/*  END SIGN IN  */
/*  START FOOTER */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
footer .container .text-muted {
    margin: 20px 0;
}


/*  END FOOTER */
/*  START NAVBAR */
nav.navbar{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
/*  END NAVBAR */
/*  START ADD POST  */

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #222;
    border-color: #333;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #222;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #333;
    border-color: #222;
}
.btn-primary:hover {
    color: #fff;
    background-color: #333;
    border-color: #222;
}
form div.input-group{
    margin-bottom: 5px;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 1300px;
        margin: 30px auto;
    }
}
#mceu_13{
    width: 1260px;
    margin: 30px auto;
}
@media screen and (max-width: 450px){
    #mceu_13{
        width: auto;
    }
}
@media screen and (max-width: 780px) {
    #mceu_13{
        width: auto;
    }
}
@media screen and (max-width: 1300px){
    #mceu_13{
        width: auto;
    }
}
/*  END ADD POST  */